<div class="container text-center text-white">
  <div class="w-60 mx-auto my-5 p-4 pt-5 text-left br-10 opac-50 relative-100">

  <h1>Please review your booking's details</h1>
  <br>
  <h6>Your boat's name: <%= @boat.name %></h6>
  <h6>Port: <%= @boat.port_location %></h6>
  <h6>Your boat's length (ft): <%= @boat.length %></h6>
  <h6>Cost: <%= @boat.price_per_day*(@booking.end_date - @booking.start_date).to_i if params[:query].present? && params[:query][:start_date].present? && params[:query][:end_date].present?%>
  <%# fixed days=7 to be changed %> $</h6>
  <br>

  <%= simple_form_for [ @boat, @booking ] do |f| %>
    <div class="row">
      <div class="col-sm-9">
        <%= f.input :start_date %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-9">
        <%= f.input :end_date %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <%= f.input :number_of_guests %>
      </div>
    </div>
    <%= f.submit "Book!", class: "btn btn-prim-col" %>
  <% end %>
  </div>
</div>




