<body>
  <div class="banner">
    <div class="banner-content">
      <h1>Explore The Open Seas with AquaBnB</h1>
      <p>Explore Boats</p>
      <br>
      <div class="search-form">
        <%= form_with scope: :query, local: true, url: boats_path, method: :get do |f| %>
          <%= f.text_field :port_location,
            class: "form-control",
            placeholder: "Where do you start your journey?"
          %>
          <%= f.text_field :boat_type,
            class: "form-control",
            placeholder: "Sailing boat or yacht?"
          %>
          <%= f.number_field :number_of_guests,
            class: "form-control",
            placeholder: "2"
          %>
          <%= f.date_field :start_date,
            class: "form-control"
          %>
          <%= f.date_field :end_date,
            class: "form-control"
          %>

          <%= submit_tag "Find", class: "btn-sec-col margin-10" %>
        <% end %>
      </div>
    </div>
  </div>
</body>
