<h1>Boats that we found for your dates:</h1>
<%= link_to "Register your boat", "/boats/new", class: "btn-prim-col" %>
<br>
<br>
<br>
<div class="container">
  <div class="cards">
    <% @boats.each do |boat| %>
      <div class="card-boat">
          <%= image_tag(boat.boat_image) %>
        <div class="card-boat-headline">
          <h2><%= boat.name %></h2>
          <h2><%= boat.price_per_day %> €</h2>
        </div>
        <div class="card-boat-infos">
          <p><%= boat.boat_type %> (<%= boat.year %>) <i class="fa fa-arrows-alt-h"> </i><%=boat.length %>  <i class="fa fa-users"> </i><%= boat.passenger_capacity %>  <i class="fas fa-anchor"> </i><%= boat.port_location %></p>
          <%= link_to "more", boat_path(boat), class: "btn-prim-col" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
0
