<h1>Boats that we found for your dates:</h1>
<%= link_to "Register your boat", "/boats/new", class: "btn-prim-col" %>
<br>
<br>
<br>
<div class="container">
  <div class="cards">
    <div class="card-boat">
      <!-- <div> -->
        <% boat_image = [211, 598, 124, 1038] %>
        <%= image_tag("https://picsum.photos/id/#{boat_image.sample}/512/320") %>
      <!-- </div> -->
      <div class="card-boat-headline">
        <h2>Boat Name</h2>
        <h2>1.400 €/day</h2>
      </div>
      <div class="card-boat-infos">
        <p>Boat Type, Lenght, Year, Passengercap, port location</p>
        <%= link_to "more", "#", class: "btn btn-primary" %>
      </div>
    </div>

    <div class="card-boat">
      <!-- <div> -->
        <% boat_image = [211, 598, 124, 1038] %>
        <%= image_tag("https://picsum.photos/id/#{boat_image.sample}/512/320") %>
      <!-- </div> -->
      <div class="card-boat-headline">
        <h2>Boat Name</h2>
        <h2>1.400 €/day</h2>
      </div>
      <div class="card-boat-infos">
        <p>Boat Type, Lenght, Year, Passengercap, port location</p>
        <%= link_to "more", "#", class: "btn btn-primary" %>
      </div>
    </div>

    <div class="card-boat">
      <!-- <div> -->
        <% boat_image = [211, 598, 124, 1038] %>
        <%= image_tag("https://picsum.photos/id/#{boat_image.sample}/512/320") %>
      <!-- </div> -->
      <div class="card-boat-headline">
        <h2>Boat Name</h2>
        <h2>1.400 €/day</h2>
      </div>
      <div class="card-boat-infos">
        <p>Boat Type, Lenght, Year, Passengercap, port location</p>
        <%= link_to "more", "#", class: "btn btn-primary" %>
      </div>
    </div>

    <div class="card-boat">
      <!-- <div> -->
        <% boat_image = [211, 598, 124, 1038] %>
        <%= image_tag("https://picsum.photos/id/#{boat_image.sample}/512/320") %>
      <!-- </div> -->
      <div class="card-boat-headline">
        <h2>Boat Name</h2>
        <h2>1.400 €/day</h2>
      </div>
      <div class="card-boat-infos">
        <p>Boat Type, Lenght, Year, Passengercap, port location</p>
        <%= link_to "more", "#", class: "btn btn-primary" %>
      </div>
    </div>

    <div class="card-boat">
      <!-- <div> -->
        <% boat_image = [211, 598, 124, 1038] %>
        <%= image_tag("https://picsum.photos/id/#{boat_image.sample}/512/320") %>
      <!-- </div> -->
      <div class="card-boat-headline">
        <h2>Boat Name</h2>
        <h2>1.400 €/day</h2>
      </div>
      <div class="card-boat-infos">
        <p>Boat Type, Lenght, Year, Passengercap, port location</p>
        <%= link_to "more", "#", class: "btn btn-primary" %>
      </div>
    </div>

    <div class="card-boat">
      <!-- <div> -->
        <% boat_image = [211, 598, 124, 1038] %>
        <%= image_tag("https://picsum.photos/id/#{boat_image.sample}/512/320") %>
      <!-- </div> -->
      <div class="card-boat-headline">
        <h2>Boat Name</h2>
        <h2>1.400 €/day</h2>
      </div>
      <div class="card-boat-infos">
        <p>Boat Type, Lenght, Year, Passengercap, port location</p>
        <%= link_to "more", "#", class: "btn btn-primary" %>
      </div>
    </div>

    <div class="card-boat">
      <!-- <div> -->
        <% boat_image = [211, 598, 124, 1038] %>
        <%= image_tag("https://picsum.photos/id/#{boat_image.sample}/512/320") %>
      <!-- </div> -->
      <div class="card-boat-headline">
        <h2>Boat Name</h2>
        <h2>1.400 €/day</h2>
      </div>
      <div class="card-boat-infos">
        <p>Boat Type, Lenght, Year, Passengercap, port location</p>
        <%= link_to "more", "#", class: "btn btn-primary" %>
      </div>
    </div>

    <div class="card-boat">
      <!-- <div> -->
        <% boat_image = [211, 598, 124, 1038] %>
        <%= image_tag("https://picsum.photos/id/#{boat_image.sample}/512/320") %>
      <!-- </div> -->
      <div class="card-boat-headline">
        <h2>Boat Name</h2>
        <h2>1.400 €/day</h2>
      </div>
      <div class="card-boat-infos">
        <p>Boat Type, Lenght, Year, Passengercap, port location</p>
        <%= link_to "more", "#", class: "btn btn-primary" %>
      </div>
    </div>

    <div class="card-boat">
      <!-- <div> -->
        <% boat_image = [211, 598, 124, 1038] %>
        <%= image_tag("https://picsum.photos/id/#{boat_image.sample}/512/320") %>
      <!-- </div> -->
      <div class="card-boat-headline">
        <h2>Boat Name</h2>
        <h2>1.400 €/day</h2>
      </div>
      <div class="card-boat-infos">
        <p>Boat Type, Lenght, Year, Passengercap, port location</p>
        <%= link_to "more", "#", class: "btn btn-primary" %>
      </div>
    </div>

    <div class="card-boat">
      <!-- <div> -->
        <% boat_image = [211, 598, 124, 1038] %>
        <%= image_tag("https://picsum.photos/id/#{boat_image.sample}/512/320") %>
      <!-- </div> -->
      <div class="card-boat-headline">
        <h2>Boat Name</h2>
        <h2>1.400 €/day</h2>
      </div>
      <div class="card-boat-infos">
        <p>Boat Type, Lenght, Year, Passengercap, port location</p>
        <%= link_to "more", "#", class: "btn btn-primary" %>
      </div>
    </div>

    <div class="card-boat">
      <!-- <div> -->
        <% boat_image = [211, 598, 124, 1038] %>
        <%= image_tag("https://picsum.photos/id/#{boat_image.sample}/512/320") %>
      <!-- </div> -->
      <div class="card-boat-headline">
        <h2>Boat Name</h2>
        <h2>1.400 €/day</h2>
      </div>
      <div class="card-boat-infos">
        <p>Boat Type, Lenght, Year, Passengercap, port location</p>
        <%= link_to "more", "#", class: "btn btn-primary" %>
      </div>
    </div>

    <div class="card-boat">
      <!-- <div> -->
        <% boat_image = [211, 598, 124, 1038] %>
        <%= image_tag("https://picsum.photos/id/#{boat_image.sample}/512/320") %>
      <!-- </div> -->
      <div class="card-boat-headline">
        <h2>Boat Name</h2>
        <h2>1.400 €/day</h2>
      </div>
      <div class="card-boat-infos">
        <p>Boat Type, Lenght, Year, Passengercap, port location</p>
        <%= link_to "more", "#", class: "btn btn-primary" %>
      </div>
    </div>

    <div class="card-boat">
      <!-- <div> -->
        <% boat_image = [211, 598, 124, 1038] %>
        <%= image_tag("https://picsum.photos/id/#{boat_image.sample}/512/320") %>
      <!-- </div> -->
      <div class="card-boat-headline">
        <h2>Boat Name</h2>
        <h2>1.400 €/day</h2>
      </div>
      <div class="card-boat-infos">
        <p>Boat Type, Lenght, Year, Passengercap, port location</p>
        <%= link_to "more", "#", class: "btn btn-primary" %>
      </div>
    </div>

    <div class="card-boat">
      <!-- <div> -->
        <% boat_image = [211, 598, 124, 1038] %>
        <%= image_tag("https://picsum.photos/id/#{boat_image.sample}/512/320") %>
      <!-- </div> -->
      <div class="card-boat-headline">
        <h2>Boat Name</h2>
        <h2>1.400 €/day</h2>
      </div>
      <div class="card-boat-infos">
        <p>Boat Type, Lenght, Year, Passengercap, port location</p>
        <%= link_to "more", "#", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
