<div class="container text-center mt-4">
  <h1 class="text-white">Boats that we found for your dates:</h1>
  <div class="cards mx-auto my-5 p-4 text-left br-10 opac-50">
    <% @boats.each do |boat| %>
      <div class="card-boat">
          <%= image_tag(boat.boat_image) %>
        <div class="card-boat-headline">
          <h2><%= boat.name %></h2>
          <h2><%= boat.price_per_day %> €/day</h2>
        </div>
        <div class="card-boat-infos">
          <p><%= boat.boat_type %> (<%= boat.year %>) <i class="fa fa-arrows-alt-h"> </i><%=boat.length %>  <i class="fa fa-users"> </i><%= boat.passenger_capacity %>  <i class="fas fa-anchor"> </i><%= boat.port_location %></p>
          <%= link_to "more", boat_path(boat), class: "btn-prim-col" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
