<div class="container">
  <div class="boat-create">
  <h1>Please insert the details of your boat below</h1>
  <p>Don't forget to add a nice picture! still to do</p>
    <%= simple_form_for(@boat) do |f| %>
      <%= f.input :name, placeholder: 'Sweet ocean'%>
      <%= f.input :boat_type, collection: ['Sailing boat', 'Yacht', 'Catamaran', 'Paddle dream'] %>
      <%= f.input :length, placeholder: '32 ft' %>
      <%= f.input :port_location, placeholder: 'Athens' %>
      <%= f.input :year, placeholder: '2015' %>
      <%= f.input :passenger_capacity, collection: 1..10%>
      <%= f.input :description, placeholder: 'Add a short boat description here.'%>
      <%= f.submit class: "btn-prim-col" %>
    <% end %>
    <br>
    <br>
  <%= link_to 'Back', boats_path, class: "btn-prim-col"%>
  </div>
</div>



