<div class="container text-center text-white">
  <div class="w-60 mx-auto my-5 p-4 pt-5 text-left br-10 opac-50">
  <h2 class=" text-center"><b>Please insert the details of your boat below</b></h2>
    <%= simple_form_for(@boat) do |f| %>
      <%= f.input :name, placeholder: 'Sweet ocean'%>
      <%= f.input :boat_type, collection: Boat::OPT %>
      <%= f.input :length, as: :integer, placeholder: 'in ft' %>
      <%= f.input :port_location, placeholder: 'Athens' %>
      <%= f.input :year, as: :date, discard_day: true, discard_month: true, placeholder: '2015' %>
      <%= f.input :passenger_capacity, as: :integer, collection: 1..10%>
      <%= f.input :price_per_day, as: :integer, placeholder: '80$'%>
      <%= f.input :description, placeholder: 'Add a short boat description here.'%>
      <label class="btn btn-prim-col">
        Upload Photo
        <span style="display:none;">
          <%= f.input :photo, as: :file %>
        </span>
      </label>
      <br>
      <%= f.submit class: "btn btn-prim-col" %>
    <% end %>
    <br>
    <br>
  <%= link_to 'Back', boats_path, class: "btn-prim-col"%>
  </div>
</div>



