<div class="container text-center text-white">
  <div class="w-50 mx-auto p-4 text-left">
  <h2 class=" text-center"><b>Please insert the details of your boat below</b></h2>
    <%= simple_form_for(@boat) do |f| %>
      <%= f.input :name, placeholder: 'Sweet ocean'%>
      <%= f.input :boat_type, collection: ['Sailing boat', 'Yacht', 'Catamaran', 'Paddle dream'] %>
      <%= f.input :length, placeholder: '32 ft' %>
      <%= f.input :port_location, placeholder: 'Athens' %>
      <%= f.input :year, placeholder: '2015' %>
      <%= f.input :passenger_capacity, collection: 1..10%>
      <%= f.input :description, placeholder: 'Add a short boat description here.'%>
      <%= f.submit class: "btn-prim-col" %>
    <% end %>
    <br>
    <br>
  <%= link_to 'Back', boats_path, class: "btn-prim-col"%>
  </div>
</div>



