<div class="container text-center pt-5 mt-5">
  <h1 class="text-white">Beautiful <%= @boat.boat_type %> "<%= @boat.name %>" in <%= @boat.port_location %></h1>
  <div class="white-card mx-auto">
    <div class="container-display-boat">
      <div class="container-display-boat__text">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><h3>Length: <%= @boat.length %> <h3></li>
          <li class="list-group-item"><h3>Port location: <%= @boat.port_location %> <h3></li>
          <li class="list-group-item"><h3>Year constructed: <%= @boat.year %><h3></li>
          <li class="list-group-item"><h3>Type: <%= @boat.boat_type %><h3></li>
          <li class="list-group-item"><h3>Passanger capacity: <%= @boat.passenger_capacity %><h3></li>
          <li class="list-group-item"><h3>Price per day: <%= @boat.price_per_day %> EUR <h3></li>
        </ul>
      </div>
      <img class="container-display-boat__image" <%= image_tag(@boat.boat_image)%>
    </div>
   <div class="bottom-button">
   <%= link_to "Back to search", boats_path , class: "btn-prim-col" %>
   <%= link_to "Book now  ⛵", "#", class: "btn-prim-col" %>
  </div>
 </div>
</div>
